@font-face {
  font-family: 'RobotoSlab';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
    url('../fonts/RobotoSlab-Bold.woff') format('woff'),
    url('../fonts/RobotoSlab-Bold.ttf') format('ttf');
}